/* styles.css */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 600px; /* Para limitar el tamaño de las tarjetas */
  width: 90%; /* Ajusta el ancho de las tarjetas */
}

.read-the-docs {
  color: #888;
}
